<?xml version="1.0" encoding="UTF-8"?>
<config>
	<DbConfig>
		<DataBase>
			<nameDatabase>postgres1</nameDatabase>
			<sqlLang>postgres</sqlLang>
			<url>localhost</url>
			<dataBase>db1</dataBase>
			<user>root</user>
			<passwd></passwd>
			<port></port>
		</DataBase>
		
		<DataBase>
			<nameDatabase>mysql1</nameDatabase>
			<sqlLang>mysql</sqlLang>
			<url>localhost</url>
			<dataBase>db1</dataBase>
			<user>root</user>
			<passwd></passwd>
			<port></port>
		</DataBase>
	</DbConfig>
</config>
